# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/.cxx/
*.keystore
*.jks

# OS
.DS_Store
